DSAdvDP_Files/XML_Transformation_CreditCardCustomer.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.com/Customer_DS_CreditCard" targetNamespace="http://www.example.com/Customer_DS_CreditCard">
  <xs:complexType name="Customer_DS">
    <xs:sequence>
      <xs:element ref="Customer_DS_CC" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="CUSTOMERID" use="required" type="xs:integer"/>
    <xs:attribute name="FIRSTNAME" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="MIDDLENAME">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="LASTNAME" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="DOB" use="required" type="xs:date"/>
  </xs:complexType>
  <xs:complexType name="Customer_DS_CC">
    <xs:attribute name="CREDITCARDNUMBER" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="16"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Charges" type="xs:decimal"/>
    <xs:attribute name="Payments" type="xs:decimal"/>
  </xs:complexType>
  <xs:element name="Customer_DS" type="Customer_DS">
    <xs:annotation/>
    <xs:key name="Customer_DS_PK">
      <xs:selector xpath=".//Customer_DS"/>
      <xs:field xpath="@CUSTOMERID"/>
    </xs:key>
  </xs:element>
  <xs:element name="Customer_DS_CC" type="Customer_DS_CC">
    <xs:annotation/>
    <xs:key name="Customer_DS_CC_PK">
      <xs:selector xpath=".//Customer_DS_CC"/>
      <xs:field xpath="@CREDITCARDNUMBER"/>
    </xs:key>
  </xs:element>
</xs:schema>
