DSAdvDP_Files/XML_Transformation.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta Integration Technology, Inc. (MITI) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.com/Customer_DS" targetNamespace="http://www.example.com/Customer_DS">
<xs:complexType name="CC_CHARGE">
<xs:attribute name="CREDITCARDNUMBER" use="required">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="16" />
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="IMPORT">
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="12" />
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="DATE" use="required" type="xs:date">
</xs:attribute>
</xs:complexType>
<xs:complexType name="CC_PAYMENT">
<xs:attribute name="CREDITCARDNUMBER" use="required">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="16" />
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="IMPORT">
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="12" />
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="DATE" use="required" type="xs:date">
</xs:attribute>
</xs:complexType>
<xs:complexType name="Customer_DS">
<xs:sequence>
<xs:element ref="Customer_DS_CC" minOccurs="0" maxOccurs="unbounded">
</xs:element>
<xs:element ref="Customer_DS_Phone" minOccurs="0" maxOccurs="unbounded">
</xs:element>
</xs:sequence>
<xs:attribute name="CUSTOMERID" use="required" type="xs:integer">
</xs:attribute>
<xs:attribute name="FIRSTNAME" use="required">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="20" />
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="MIDDLENAME">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="20" />
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="LASTNAME" use="required">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="20" />
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="DOB" use="required" type="xs:date">
</xs:attribute>
</xs:complexType>
<xs:complexType name="Customer_DS_CC">
<xs:sequence>
<xs:element ref="CC_CHARGE" minOccurs="0" maxOccurs="unbounded">
</xs:element>
<xs:element ref="CC_PAYMENT" minOccurs="0" maxOccurs="unbounded">
</xs:element>
</xs:sequence>
<xs:attribute name="CUSTOMERID" use="required" type="xs:integer">
</xs:attribute>
<xs:attribute name="CREDITCARDNUMBER" use="required">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="16" />
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="DIGIT" type="xs:integer">
</xs:attribute>
<xs:attribute name="DOE" type="xs:date">
</xs:attribute>
<xs:attribute name="MEMBERSINCE" type="xs:date">
</xs:attribute>
</xs:complexType>
<xs:complexType name="Customer_DS_Phone">
<xs:attribute name="CUSTOMERID" use="required" type="xs:integer">
</xs:attribute>
<xs:attribute name="PHONETYPE">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="16" />
</xs:restriction>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="PHONENUMBER">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="10" />
</xs:restriction>
</xs:simpleType>
</xs:attribute>
</xs:complexType>
<xs:element name="CC_CHARGE" type="CC_CHARGE">
<xs:annotation>
</xs:annotation>
</xs:element>
<xs:element name="CC_PAYMENT" type="CC_PAYMENT">
<xs:annotation>
</xs:annotation>
</xs:element>
<xs:element name="Customer_DS" type="Customer_DS">
<xs:annotation>
</xs:annotation>
<xs:key name="Customer_DS_PK">
<xs:selector xpath=".//Customer_DS" />
<xs:field xpath="@CUSTOMERID" />
</xs:key>
</xs:element>
<xs:element name="Customer_DS_CC" type="Customer_DS_CC">
<xs:annotation>
</xs:annotation>
<xs:key name="Customer_DS_CC_PK">
<xs:selector xpath=".//Customer_DS_CC" />
<xs:field xpath="@CREDITCARDNUMBER" />
</xs:key>
</xs:element>
<xs:element name="Customer_DS_Phone" type="Customer_DS_Phone">
<xs:annotation>
</xs:annotation>
</xs:element>
</xs:schema>